* {
    margin: 0;
    padding: 0;
    box-sizing:content-box ;
}

body {
    font-family: sans-serif;
    background: rgb(130, 39, 172);
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px;
    font-family: Segoue UI;
}

a {
    font-style: italic;
}